*{
    margin: 0;
    padding: 0;
    border: 0;
}

.nitte_logo{
    padding: 1em 2em;
}

.college_bus_contacts{
    padding: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.nav-item{
    margin: 0 4em;
    font-size: large;
}

.user{
    display: block;
    margin: 2em auto;
    width: 35%;
}

.info{
    margin-top: 2em;
    align-items:center;
    font-size: x-large;
    text-align: center;
}

.footer{
    background-color: #ededed;
}

.logo{
    margin-top: 1em;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.talk{
    text-align:center;
    margin: 2em 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}
