<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js">

    <!-- For navbar collapse -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- CSS -->
    <style>
        .outer {
            width: 600px;
            height: 300px;
            border: 1px solid #ff0000;
            margin:auto;
            margin-top: 13em;
        }

        .inner {    
            background-color: #e05757;
            border: 5px solid #b91717;
            height: 250px;
            margin: 25px;
            padding: 25px;
            font-family: 'Roboto',sans-serif;
            text-align:center;
            padding-top: 5em;
        }
    </style>


    <!-- Gfonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="outer">
        <div class="inner">
            <h4 style="color: white;">Operation failed...</h4>
            <hr style="color:#ffffff">
            <a href="/admin/home" style="text-decoration: none;"><button class="btn btn-danger">Click to continue</button></a>
        </div>
    </div>
</body>

</html>