<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Forgot Password</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" href="../css/forgot-password.css">

</head>

<body>
    <form action="/forgot_password2" method="post">
        <div style="text-align:center;">
            <h1>Forgot Password</h1>
            <p>New Password</p>
        </div>

        <label for="email">Email</label>
        <input type="text" placeholder=" Your email here" id="email" name="email">
        <button type="submit">Send</button>
    </form>
</body>

</html>