<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js">

    <!-- For navbar collapse -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/homepage.css">

    <!-- Gfonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">

</head>

<body>

    <section id="top_container">
        <div class="row">
            <div class="row">
                <div class="col-lg-6">
                    <a href="/"><img src="images/nitte.png" alt="" class="nitte_logo"></a>
                </div>

                <div class="col-lg-2">
                    <p class="college_bus_contacts">R.O.Office <br>91+123456789</p>
                </div>
                <div class="col-lg-2">
                    <p class="college_bus_contacts">Admission Office<br>91+3256727483</p>
                </div>
                <div class="col-lg-2">
                    <p class="college_bus_contacts">Email us<br>nitteedu@gmail.in</p>
                </div>
                <!-- Here 2 infos -->
            </div>

            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg bg-light navbar-white">
                        <!-- Toggler/collapsibe Button -->
                        <a>&ensp;</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Navbar links -->
                        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                            <ul class="navbar-nav navbar-center">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>   
                                <li class="nav-item">
                                    <a class="nav-link" href="https://nmamit.nitte.edu.in/">About College</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="routes">Routes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="gallery">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="passenger/login">Student/Faculty Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="admin/login">Admin</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section id="middle-container">
        <div class="row">
            <div class="col-lg-4">
                <img src="images/bus1.jpg" alt="" class="bus_image">
            </div>
            <div class="col-lg-4">
                <img src="images/bus2.jpg" alt="" class="bus_image">
            </div>
            <div class="col-lg-4">
                <img src="images/bus3.jpg" alt="" class="bus_image">
            </div>
        </div>

        <div class="container">
            <p class="contents">The College has a fleet of 32 buses for students and staff from Karkala,
                Mangaluru, Udupi, Kundapur, Bantwal, Belthangady. Around 900 students from various parts of the region
                use these bus services for conveyance to and from the College.</p>
        </div>
    </section>
    <section id="bottom-container" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img src="images\lofilines.png" alt="" class="logo">
                </div>
                <div class="col-lg-3">
                </div>
                <div class="col-lg-3">
                </div>
                <div class="col-lg-3">
                    <p class="talk"><strong>Talk to us</strong><br>
                        LofiLines<br>91+6435673858<br>lofilines@gmail.com</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>