<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <link rel="stylesheet" href="../css/otp.css">
</head>

<body>
    <div class="logo">
        <img src="images/lofilines_trans.png" class="logo" alt="logo">
    </div>
    <div class="prompt">
        Enter the OTP sent to your mail below to register!
    </div>
    <div class="sub1">
        <form method="post" action="/passenger/verify" data-autosubmit="false" autocomplete="off">
            <input type="text" name="digits" />
            <div class="sub"><button class="btn">Submit</button></div>

        </form>
    </div>
</body>

</html>