*{
    margin: 0;
    padding: 0;
    border: 0;
}

.nitte_logo{
    padding: 1em 2em;
}

.college_bus_contacts{
    padding: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.nav-item{
    margin: 0 1em 0 1em;
    font-size: large;
}

.welcome{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2.5em;

}

.admin{
    align-items: center;
    text-align: center;
    width: 30%;
}
.footer{
    background-color: #ededed;
}
.admin_element{
    padding-top: 3vw;
    text-align: center;
    justify-content: center ;
    align-items: center;
}

.logo{
    margin: 2em 0 0 2em;
    text-align: center;
}

.talk{
    text-align:center;
    margin: 2em 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}