<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js">

  <title>Signup</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../css/passenger/signup.css">
</head>

<body>
  <div class="container py-5">
    <div class="logo">
      <img src="../../images/lofilines_trans.png" class="logo" alt="logo">
    </div>
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Create an Account</h3>
            <form method="post" action="/passenger/register">

              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                    <input type="text" id="fname" class="form-control form-control-lg" name="fname" />
                    <label class="form-label" for="fname">Name</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="text" id="phone" class="form-control form-control-lg" name="phoneno" />
                    <label class="form-label" for="phone">Phone Number</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Designation </h6>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="student" value="student"
                      checked />
                    <label class="form-check-label" for="student">Student</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="faculty"
                      value="faculty" />
                    <label class="form-check-label" for="faculty">Faculty</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="email" id="email" class="form-control form-control-lg" name="email" />
                    <label class="form-label" for="email">Email</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="text" id="usn" class="form-control form-control-lg" name="usn" />
                    <label class="form-label" for="password">USN</label>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-12">
                  <div class="form-outline">
                    <input type="text" class="form-control form-control-lg" id="addresss" name="addresss" />
                    <label for="addresss" class="form-label">Address</label>
                  </div>
                </div>
              </div>


              <div class="col-md-6 mb-4 pb-2">
                <div class="form-outline">
                  <input type="password" id="password" class="form-control form-control-lg" name="password" />
                  <label class="form-label" for="password">Password</label>
                </div>
              </div>



              <label for="bus">Select your route: </label>
              <select name="route" id="bus">
                <% for(var i=0 ;i<data.result.length;i++){ %> 
                <option name="route_no" > <%= data.result[i].route_no  %></option>
                  <% } %> 
              </select>






          </div>
          <div class="mt-4 pt-2">
            <input class="btn btn-lg" type="submit" value="Register" />
          </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>